#main-wrap {
}

.section-wrap {
  display: flex;
  flex-wrap: wrap;
  background: $grey;
  outline: 0;
}

section {
  width: 100%;
  padding: $gutter $gutter $gutter * 1.5 $gutter;

  h2 {
    margin: $gutter 0 $gutter-double 0;
    font-size: 3.2rem;
    text-transform: uppercase;

    & + .is-content {
      margin-top: $gutter * 1.5;
    }

    & + .timeline {
      margin-top: $gutter-half * 5.5;
    }
  }

  > h3 {
    margin: 0 0 $gutter * 1.5 0;
    font-size: 2.2rem;
    font-weight: $font-weight-base;
    color: $grey-light;
  }

  &.has-progress-chart {
    text-align: center;
  }
}

hr {
  width: 100%;
  margin: $gutter-half $gutter $gutter-half * 1.5 $gutter;
  border-width: 0.3rem;
  border-color: darken($grey, 2);
}

@include media(md) {
  .section-wrap {
    //border: 1px solid $border-color;
    margin-bottom: $gutter;
  }
}

@include media(lg) {
  .section-wrap {
    border-radius: $border-radius-half;
  }

  #main-wrap {
    margin-right: $nav-width;
    margin-left: $side-width + $gutter;
  }
}

.desktop {
  .section-wrap {
    &.is-animate {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 150px, 0) scale3d(1, 1, 1);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }

    &.is-animated {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }
  }
}
