main {
  max-width: #{$bp-xxl}em;
  margin: 0 auto;
  transition: 0.3s;

  #closure-links {
    margin: $gutter;

    a {
      margin: $gutter-half;
    }
  }

  @include media(sm-max) {
    #closure-links {
      a {
        display: block;
        margin-bottom: $gutter;

        &:last-child {
          margin-bottom: $gutter-half;
        }
      }
    }
  }

  @include media(lg) {
    padding: $gutter $gutter $gutter-double $gutter;
  }
}
