.is-content{
    line-height: $line-height;
    text-align: left;
    h1,h2,h3,h4,h5,h6{
        margin: ($spacing+$spacing-half) 0 0 0;
    }
    a{
        &:hover{
            color: lighten($orange,10);
        }
    }
    .button{
        padding: $gutter-half $gutter-double;
        border-radius: $border-radius-half;
        &:hover{
            color: $white;
        }
    }
    p{
        margin: $spacing 0;
    }
    ol,ul{
        margin: $spacing 0 $spacing $spacing-double;
        * ul, * ol{
            margin-top: 0;
        }
    }
    li{
        display: list-item;
    }
    blockquote {
        margin: $spacing 0 $spacing $spacing-double;
        padding: $gutter-half;
        border-left: 6px solid $orange;
    }
    > :first-child{
        margin-top: 0;
    }
    > :last-child{
        margin-bottom: 0;
    }
}
