.expander-trigger {
    display: inline-block;
    margin: 0 0 $gutter-half $gutter-fourth;
    color: $grey-light;
    cursor: pointer;
    font-size: 90%;
    transition: all .3s ease-in-out;
    &:hover{
        color: lighten($orange, 10);
    }
    &.is-once{
        @extend .visually-hidden;
        visibility: hidden;
        opacity: 0;
    }
    &:before{
        @include fa;
        content: "\f196";
        position: relative;
        margin-right: $gutter-fourth;
        top: 1px;
    }
    &.is-triggered{
        &:before {
            content: "\f147";
        }
    }
}

.expander-content{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out, max-height .6s ease-in-out .1s;
    &.is-visible{
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        transition: visibility .3s ease-in-out, opacity .3s ease-in-out, max-height .3s ease-in-out;
    }
    &.is-box{
        padding: $gutter-half $gutter-half * 1.5;
        border-radius: $border-radius-half;
        background: darken($grey, 2);
        border: 1px solid $body-color;
        > :first-child{
            margin-top: 0;
        }
        > :last-child{
            margin-bottom: 0;
        }
    }
    &.has-small-text{
        font-size: 90%;
    }
}
