.vcard {
    background: $blue;
    padding: $gutter-double $gutter;
    border-radius: $border-radius-half;
    text-align: center;
    .card-avatar {
        width: 180px;
        height: 180px;
        border: 6px solid $black;
    }
    .card-info {
        margin: $gutter 0 0 0;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .card-address{
        font-size: 1.2rem;
        color: lighten(desaturate($blue, 10), 50);
        margin-bottom: $gutter-half * 1.5;
    }
    .card-profession {
        line-height: 1.6;
        font-weight: $font-weight-base-strong;
        color: lighten($blue, 60);
    }
    @include media(lg){
        .divider{
            display: block;
            line-height: .5;
        }
    }
}
