.links {
    text-align: center;
    margin-top: $gutter;
    a{
        display: inline-block;
        margin-bottom: $gutter-half;
        @include button($black, $white, $orange);
        padding: 0 $gutter;
        .fa{
            margin-right: $gutter-half;
        }
    }
}
