input[type='text'],
input[type='number'],
input[type='url'],
input[type='tel'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='week'],
input[type='month'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='file'] + label,
textarea,
select {
  box-sizing: inherit;
  width: 100%;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  border: 0.1rem solid darken($white, 20);
  font-family: $font-base;
  font-size: 1.4rem;
  background-color: $white;
  box-shadow: none;
  appearance: none;

  &:hover,
  &:focus {
    border-color: $blue;
    outline: 0;
  }

  &[readonly],
  &[disabled] {
    border-color: darken($white, 20);
    background-color: darken($white, 5);
  }
}

select {
}

textarea {
  min-height: 6.5rem;
  resize: vertical;
}

label,
legend,
.is-label {
  display: block;
  font-family: $font-theme;
  font-weight: $font-weight-theme;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;

  &:not(.form-control) {
    margin: $gutter-half 0;
  }
}
