/* @group prepend & apend */
.has-append,
.has-prepend {
  position: relative;
  font-size: 1.3rem;
}

.has-prepend {
  input:not([type='submit'], [type='reset']) {
    padding-left: 5rem;
  }
}

.has-append {
  position: relative;

  input:not([type='submit'], [type='reset']) {
    padding-right: 5rem;
  }
}

.prepend,
.append {
  position: absolute;
  width: 4rem;
  height: 3.6rem;
  padding: 0 8px;
  font-size: 1.2rem;
  line-height: 3.6rem;
  text-align: center;
  background: darken($white, 5);
  color: darken($white, 60);
}

.prepend {
  top: 1px;
  left: 1px;
  border-right: 1px solid darken($white, 15);
}

.append {
  top: 1px;
  right: 1px;
  border-left: 1px solid darken($white, 15);
}

/* @end prepend & apend */
