// Range Slider
$range-width: calc(100% - 72px);

$range-handle-color: darken($white, 70);
$range-handle-color-hover: $blue;
$range-handle-size: 26px;

$range-track-color: darken($white, 10);
$range-track-color-focus: $range-track-color;
$range-track-height: 16px;

$range-label-color: darken($white, 70);
$range-label-width: 60px;

input[type='range'] {
  width: $range-width;
  margin: 11px 0;
  -webkit-appearance: none;

  // Range track
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $range-track-height;
    border-radius: $border-radius-half;
    background: $range-track-color;
    cursor: pointer;
  }

  &::-moz-range-track {
    width: 100%;
    height: $range-track-height;
    border-radius: $border-radius-half;
    background: $range-track-color;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: $range-track-height;
    border-color: transparent;
    background: transparent;
    color: transparent;
    cursor: pointer;
  }

  &::-ms-fill-lower {
    border-radius: $border-radius-half;
    background: $range-track-color;
  }

  &::-ms-fill-upper {
    border-radius: $border-radius-half;
    background: $range-track-color;
  }

  // Range handle
  &::-webkit-slider-thumb {
    width: $range-handle-size / 1.5;
    height: $range-handle-size;
    margin-top: ($range-handle-size - $range-track-height) * -0.5;
    border: 0;
    border-radius: $border-radius-half;
    background: $range-handle-color;
    cursor: pointer;
    -webkit-appearance: none;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: $border-radius-half;
    background: $range-handle-color;
    cursor: pointer;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &::-ms-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: $border-radius-half;
    background: $range-handle-color;
    cursor: pointer;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      background: $range-handle-color-hover;
    }

    &::-moz-range-thumb {
      background: $range-handle-color-hover;
    }

    &::-ms-thumb {
      background: $range-handle-color-hover;
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: $range-track-color-focus;
    }

    &::-ms-fill-lower {
      background: $range-track-color-focus;
    }

    &::-ms-fill-upper {
      background: $range-track-color-focus;
    }
  }
  // Range label
  + .range-label {
    position: relative;
    top: -3px;
    display: inline-block;
    width: $range-label-width;
    margin-left: 8px;
    padding: 3px 10px;
    border-radius: $border-radius-half;
    font-size: 1.4rem;
    line-height: 20px;
    text-align: center;
    background: $range-label-color;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      top: 7px;
      left: -6px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 6px solid $range-label-color;
      border-bottom: 6px solid transparent;
    }
  }
}
