#nav-wrap {
    display: none;

    @include media(lg){
        display: block;
        float: right;
        width: $nav-width;
        text-align: center;
        z-index: 1;
        ul {
            text-align: center;
        }
        li {
            display: inline-block;
            margin: $gutter-half 0;
            &:first-child{
                margin-top: 0;
            }
        }
        a {
            color: darken($orange,20);
            display: inline-block;
            &:hover {
                color: $white;
            }
            &.is-active {
                color: $black;
                &:hover{
                    color: $black;
                }
            }
        }
        .fa {
            width: 100%;
            font-size: 3.2rem;
            &.fa-folder-open{
                font-size: 3.4rem;
            }
            &.fa-user {
                font-size: 4.2rem;
                &:before{
                    margin-left: -2px;
                }
            }
            &.fa-university{
                margin-bottom: $gutter-fourth;
            }
            &.fa-address-book{
                margin-bottom: $gutter-fourth;
            }
        }
        .title{
            display: block;
            font-size: 0.8rem;
            font-weight: $font-weight-base-strong;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
}
