.vcard {
  padding: $gutter-double $gutter;
  border-radius: $border-radius-half;
  text-align: center;
  background: $blue;

  .card-avatar {
    width: 180px;
    height: 180px;
    border: 6px solid $black;
  }

  .card-info {
    margin: $gutter 0 0 0;
  }

  h1 {
    margin-bottom: 5px;
    font-size: 2rem;
  }

  .card-address {
    margin-bottom: $gutter-half * 1.5;
    font-size: 1.2rem;
    color: lighten(desaturate($blue, 10), 50);
  }

  .card-profession {
    font-weight: $font-weight-base-strong;
    line-height: 1.6;
    color: lighten($blue, 60);
  }

  @include media(lg) {
    .divider {
      display: block;
      line-height: 0.5;
    }
  }
}
