$detail-term-width: 85px;

.definition {
  font-size: 1.4rem;

  dt {
    float: left;
    clear: left;
    overflow: hidden;
    width: $detail-term-width;
    font-weight: $font-weight-base-strong;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
  }

  dd {
    padding: 0 0 $gutter-half * 1.5 ($detail-term-width + $gutter-half);
  }

  #mood-label {
    cursor: pointer;
  }

  #mood {
    user-select: none;
    transition: all 0.3s ease-out;

    &:hover {
      cursor: pointer;
    }

    &.is-highlight {
      color: $orange;
      transition: all 0.3s ease-in;
    }
  }
}
