.links {
  margin-top: $gutter;
  text-align: center;

  a {
    @include button($black, $white, $orange);

    display: inline-block;
    margin-bottom: $gutter-half;
    padding: 0 $gutter;
    border-radius: $border-radius-half;

    .fa {
      margin-right: $gutter-half;
    }
  }
}
