.reference {
  position: relative;
  box-sizing: content-box;
  min-height: 58px;
  margin-bottom: $gutter-double;
  padding-bottom: $gutter-double;
  padding-left: 70px;
  border-bottom: 2px dashed $black;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }

  .reference-avatar {
    position: absolute;
    top: 0;
    left: 0;

    img {
      border: 2px solid $grey-dark;
    }
  }

  .reference-author {
    padding-top: 10px;
    padding-bottom: 5px;

    strong {
      display: block;
      margin-bottom: 5px;
    }

    span {
      display: block;
      color: $grey-light;
    }
  }

  .reference-cont {
    max-width: 100%;
    margin: 15px 0 0;
    border-width: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.desktop {
  .reference {
    &.is-animate {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.9s ease-out, visibility 0.9s ease-out;
    }

    &.is-animated {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.9s ease-out, visibility 0.9s ease-out;
    }
  }
}
