.shape {
  display: none;

  &.is-triangle {
    @include media(lg) {
      position: fixed;
      top: 0;
      right: 0;
      display: block;

      &#triangle-1 {
        z-index: -1;

        polygon {
          fill: $orange;
        }
      }

      &#triangle-2 {
        z-index: -2;

        polygon {
          fill: darken($orange, 5);
        }
      }

      &#triangle-3 {
        z-index: -3;

        polygon {
          fill: darken($orange, 10);
        }
      }

      &#triangle-4 {
        z-index: -4;

        polygon {
          fill: darken($orange, 15);
        }
      }

      &#triangle-5 {
        z-index: -5;

        polygon {
          fill: darken($orange, 20);
        }
      }
    }
  }
}
