$timeline-date-width: 160px;
$timeline-date-gutter: $gutter;

.timeline {
  position: relative;
  margin-top: $gutter;
  margin-left: $gutter;
  padding-top: 0;
  padding-left: 0;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: $orange;
    opacity: 0.5;
  }

  .timeline-date {
    position: relative;
    top: -4px;
    left: -14px;
    display: inline-block;
    width: $timeline-date-width;
    margin-left: 15px;
    padding: 8px 6px 8px 12px;
    font-size: 1.4rem;
    line-height: 1.1;
    letter-spacing: 0;
    background-color: $orange;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-right: 10px solid $orange;
      border-bottom: 16px solid transparent;
      border-left: 10px solid transparent;
    }

    span {
      position: relative;
      display: block;
      overflow: hidden;
    }
  }

  .timeline-function {
    margin-bottom: $gutter-half;
    font-size: 2.1rem;
  }

  .timeline-place {
    margin-bottom: $gutter;
    font-weight: $font-weight-base;
    color: $grey-light;
  }

  .timeline-description {
    font-size: 1.4rem;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 45px;
    padding-left: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: -2px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $white;
    }
  }

  @include media(xs-max) {
    margin-left: 25px;
  }

  @include media(sm) {
    margin-left: $timeline-date-width + $timeline-date-gutter + $gutter;

    .timeline-date {
      position: absolute;
      top: -4px;
      right: 100%;
      left: auto;
      width: $timeline-date-width;
      margin-right: $timeline-date-gutter;
      margin-left: 0;
      padding: 8px 6px;
      text-align: center;

      &::before {
        display: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 10px solid $orange;
      }
    }
  }
}

.desktop {
  .timeline-item {
    &.is-animate {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 20px, 0) scale3d(1, 1, 1);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }

    &.is-animated {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }
  }
}
