// Images
$image-path: "../images";

// Typography
$font-path-local: "../fonts";
//$font-path-cdn: "//cdn.website.com/fonts";
$font-path: $font-path-local;

$font-base: "Quicksand", sans-serif;
$font-theme: $font-base;
$font-code: "monospace", monospace;

$font-weight-base: 400;
$font-weight-base-strong: 700;
$font-weight-theme: $font-weight-base;
$font-weight-theme-strong: $font-weight-base-strong;
$font-weight-theme-stronger: $font-weight-base-strong;

$font-size-logo: 3.8rem;
$font-size-h1: 3.2rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.6rem;
$font-size-base: 1.6rem;

$line-height-base: 1.1;
$line-height: 1.8;

// Colors
$black: #222222;
$white: #ffffff;
$grey: #373737;
$grey-light: #bcbcbc;
$orange: #C46210;
$blue: #1d7889;
$red: red;
$green: green;
$purple: purple;
$pink: pink;
$yellow: yellow;

$text-color: $white;
$body-color: #2a2a2a;
$border-color: #1f1f1f;

// Layout
$base-width: 0.5rem;
$letter-spacing: 0.08em;
$spacing: 1em;
$spacing-half: $spacing / 2;
$spacing-fourth: $spacing / 4;
$spacing-double: $spacing * 2;

// Properties
$border-radius: 6px;
$border-radius-half: $border-radius / 2;
$border-radius-double: $border-radius * 2;

// Grid
$gutter: 20px;
$gutter-half: $gutter / 2;
$gutter-fourth: $gutter / 4;
$gutter-double: $gutter * 2;

//bourbon neat
$neat-grid: (
    columns: 12,
    gutter: $gutter,
);

$neat-grid-no-gutter: (
    columns: 12,
    gutter: 0
);

//media is optional > use own grid system for more flexibility
$neat-grid-extra-gutter: (
    columns: 12,
    gutter: $gutter * 1.5
);

$neat-grid-half-gutter: (
    columns: 12,
    gutter: $gutter / 2
);

$neat-grid-24: (
    columns: 24,
    gutter: $gutter
);

$neat-grid-custom-media-example: (
    columns: 6,
    gutter: $gutter-double,
    media: 28em
);

$neat-grid-custom-media-map-get-example: (
    columns: 6,
    gutter: $gutter-double,
    media: map_get($breakpoints, xs)
);

// CSS3

// Transitions
$transition-duration-short: 0.2s;
$transition-duration-medium: 0.3s;
$transition-duration-long: 0.6s;
$transition-delay: 0.1s;

// Borders
$border-radius: 8px;
$border-radius-half: $border-radius / 2;
$border-radius-fourth: $border-radius / 4;
