body {
  &.is-development {
    &::after {
      content: 'XXS - #{$bp-xxs}em(#{$bp-xxs-px}px)';
      position: fixed;
      z-index: 10000;
      right: 0;
      bottom: 0;
      padding: 0.5rem 1rem;
      border-radius: $border-radius 0 0 0;
      font-family: $font-base;
      font-size: 1.3rem;
      background: $black;
      color: $white;

      @include media(xs-only) {
        content: 'XS - #{$bp-xs}em(#{$bp-xs-px}px)';
      }

      @include media(sm) {
        content: 'SM - #{$bp-sm}em(#{$bp-sm-px}px)';
      }

      @include media(md) {
        content: 'MD - #{$bp-md}em(#{$bp-md-px}px)';
      }

      @include media(lg) {
        content: 'LG - #{$bp-lg}em(#{$bp-lg-px}px)';
      }

      @include media(xl) {
        content: 'XL - #{$bp-xl}em(#{$bp-xl-px}px)';
      }
    }
  }
}
