.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include button;

  padding: 0 1rem;
  border: none;
  font-family: $font-theme;
  line-height: 3.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 0;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.button,
button {
  &.is-centered {
    max-width: 100%;
    margin: 0 auto;
  }

  &.is-secondary {
    @include button($grey);
  }

  &.is-multiline {
    padding: $gutter-half;
    line-height: $line-height;
    white-space: normal;
  }
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  appearance: none;
}
