<!doctype html>
<html class="no-js" lang="{{meta.language}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <title>{{meta.title}}</title>
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{meta.keywords}}"/>
    <meta name="author" content="{{meta.author}}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="/dist/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{{meta.author}}">
    <meta name="application-name" content="{{meta.author}}">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/dist/styles/app.css">

    <!-- Multilingual -->
    <!-- Multilingual -->
    <link rel="alternate" href="http://pvdsteen.com" hreflang="en"/>
    <link rel="alternate" href="http://pvdsteen.com/nl/" hreflang="nl"/>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="src/vendor/html5shiv/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header></header>
<main data-sticky-container>
    <div id="nav-wrap" class="sticky" data-margin-top="20" data-sticky-for="1023">
        <nav>
            <ul>
                {{#nav}}
                    <li>
                        <a href="#{{id}}" data-scroll-spy>
                            <span class="fa fa-{{icon}}"></span>
                            <span class="title">{{title}}</span>
                        </a>
                    </li>
                {{/nav}}
            </ul>
        </nav>
    </div>
    <div id="side-wrap" class="sticky" data-margin-top="20" data-sticky-for="1023">
        <aside class="card vcard">
            <img class="card-avatar photo is-round" src="/dist/images/avatar.jpg" width="180" height="180"
                 alt="{{card.name}}, {{card.profession.first}} - {{card.profession.second}}"/>
            <div class="card-info">
                <h1 class="card-name fn">{{card.name}}</h1>
                <p class="card-address adr">
                    <span class="locality">Leiden</span>,
                    <span class="country-name">the Netherlands</span>
                </p>
                <p class="card-profession title">
                    <span class="nowrap">{{card.profession.first}}</span>
                    <span class="divider"> - </span>
                    <span class="nowrap">{{card.profession.second}}</span>
                </p>
            </div>
        </aside>
        <div id="side-links" class="links">
            {{#links}}
                {{#visible}}
                    <a class="{{slug}} button" href="{{ref}}" {{#download}}download{{/download}} {{#target}}target="{{target}}"{{/target}}><span
                        class="fa fa-{{icon}}"></span>{{text}}</a>
                {{/visible}}
            {{/links}}
        </div>
    </div>
    <div id="main-wrap">
        <div id="about" class="section-wrap">
            <section id="about-intro">
                <h2>{{about.title}}</h2>
                <div class="is-content">
                    {{{about.intro.content}}}
                    <span class="expander-trigger" {{#about.intro.expander.triggeronce}}data-trigger-once{{/about.intro.expander.triggeronce}} {{#about.intro.expander.triggertext-alt}}data-text-alt="{{about.intro.expander.triggertext-alt}}"{{/about.intro.expander.triggertext-alt}}>{{about.intro.expander.triggertext}}</span>
                    <div class="expander-content has-animate is-box has-small-text">
                        {{{about.intro.expander.content}}}
                    </div>
                </div>

            </section>
            <section id="about-personal-information">
                <h3>{{about.personal.title}}</h3>
                <dl class="definition mood-trigger">
                    {{#about.personal.definitions}}
                        <dt{{#class}} class="{{class}}"{{/class}}>{{term}}</dt>
                        <dd{{#id}} id="{{id}}"{{/id}}{{#class}} class="{{class}}"{{/class}}>{{{def}}}</dd>
                    {{/about.personal.definitions}}
                </dl>
            </section>
            <section id="about-languages">
                <h3>Languages</h3>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.dutch.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.dutch.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                    <span class="progress-text">{{about.languages.dutch.text}}</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.english.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.english.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">{{about.languages.english.text}}</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.french.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.french.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">{{about.languages.french.text}}</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.greek.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.greek.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">{{about.languages.greek.text}}</span>
                </div>
            </section>
            <section id="about-soft-skills">
                <h3>{{about.softskills.title}}</h3>
                <div class="skills">
                    {{#about.softskills.skills}}
                        <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar"
                             aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}" data-value="{{value}}"></div>
                        </div>
                    {{/about.softskills.skills}}
                </div>
            </section>
            <section id="about-interests">
                <h3>{{about.interests.title}}</h3>
                <div class="skills">
                    {{#about.interests.skills}}
                        <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar"
                             aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}" data-value="{{value}}"></div>
                        </div>
                    {{/about.interests.skills}}
                </div>
            </section>
        </div>
        <div id="experience" class="section-wrap is-animate">
            <section id="experience-intro">
                <h2>{{experience.title}}</h2>
            </section>
            <section class="timeline">
                {{#experience.timeline}}
                    <div class="timeline-item is-animate">
                        <time class="timeline-date">
                            <span>{{from.month}} <strong class="text-upper">{{from.year}}</strong> - {{to.month}} <strong>{{to.year}}</strong></span>
                        </time>
                        <h3 class="timeline-function">{{{function}}}</h3>
                        <h4 class="timeline-place">{{company}}</h4>
                        <div class="timeline-description is-content">
                            {{{content}}}
                            {{#expander}}
                                <span class="expander-trigger" {{#text-alt}}data-text-alt="{{text-alt}}"{{/text-alt}}>{{text}}</span>
                                <div class="expander-content has-animate is-box has-small-text">
                                    {{{content}}}
                                </div>
                            {{/expander}}
                        </div>
                    </div>
                {{/experience.timeline}}
            </section>
        </div>
        <div id="education" class="section-wrap is-animate">
            <section id="education-intro">
                <h2>{{education.title}}</h2>
            </section>
            <section class="timeline">
                {{#education.timeline}}
                    <div class="timeline-item is-animate">
                        <time class="timeline-date">
                            <span>{{from.month}} <strong class="text-upper">{{from.year}}</strong> - {{to.month}} <strong>{{to.year}}</strong></span>
                        </time>
                        <h3 class="timeline-function">{{{function}}}</h3>
                        <h4 class="timeline-place">{{institution}}</h4>
                        <div class="timeline-description is-content">
                            {{{content}}}
                            {{#expander}}
                                <span class="expander-trigger" {{#text-alt}}data-text-alt="{{text-alt}}"{{/text-alt}}>{{text}}</span>
                                <div class="expander-content has-animate is-box has-small-text">
                                    {{{content}}}
                                </div>
                            {{/expander}}
                        </div>
                    </div>
                {{/education.timeline}}
            </section>
        </div>
        <div id="references" class="section-wrap is-animate">
            <section id="references-intro">
                <h2>{{references.title}}</h2>
            </section>
            <section id="reference-list">
                {{#references.reference}}
                    <div class="reference is-animate">
                        <div class="reference-avatar">
                            <img alt="{{author}}" src="{{image}}" class="is-round" height="54"
                                 width="54">
                        </div>
                        <div class="reference-info">
                            <div class="reference-author">
                                <strong>{{author}}</strong>
                                <span>{{company}}</span>
                            </div>
                            <blockquote class="reference-cont is-content">
                                {{{content}}}
                                {{#expander}}
                                    <span class="expander-trigger" {{#text-alt}}data-text-alt="{{text-alt}}"{{/text-alt}}>{{text}}</span>
                                    <div class="expander-content has-animate is-box has-small-text">
                                        {{{content}}}
                                    </div>
                                {{/expander}}
                            </blockquote>
                        </div>
                    </div>
                {{/references.reference}}
            </section>
        </div>
        <div id="knowledge" class="section-wrap is-animate">
            <section id="knowledge-intro">
                <h2>{{knowledge.title}}</h2>
                <div class="is-content">{{{knowledge.content}}}</div>
            </section>
            <section id="knowledge-programming" class="has-progress-line">
                <h3>{{knowledge.programming.title}}</h3>
                <div class="skills">
                    {{#knowledge.programming.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.programming.skills}}
                </div>
            </section>
            <section id="knowledge-techniques" class="has-progress-line">
                <h3>{{knowledge.techniques.title}}</h3>
                <div class="skills">
                    {{#knowledge.techniques.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.techniques.skills}}
                </div>
            </section>
            <section id="knowledge-content" class="has-progress-chart">
                <h3>{{knowledge.contents.title}}</h3>
                <div class="skills">
                    {{#knowledge.contents.skills}}
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                            <strong class="progress-title">{{title}}</strong>
                        </div>
                    {{/knowledge.contents.skills}}
                </div>
            </section>
            <section id="knowledge-visualisation" class="has-progress-chart">
                <h3>{{knowledge.visualisation.title}}</h3>
                <div class="skills">
                    {{#knowledge.visualisation.skills}}
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                            <strong class="progress-title">{{title}}</strong>
                        </div>
                    {{/knowledge.visualisation.skills}}
                </div>
            </section>
            <section id="knowledge-interaction" class="has-progress-chart">
                <h3>{{knowledge.interaction.title}}</h3>
                <div class="skills">
                    {{#knowledge.interaction.skills}}
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                            <strong class="progress-title">{{title}}</strong>
                        </div>
                    {{/knowledge.interaction.skills}}
                </div>
            </section>
            <section id="knowledge-development" class="has-progress-line">
                <h3>{{knowledge.development.title}}</h3>
                <div class="skills">
                    {{#knowledge.development.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.development.skills}}
                </div>
            </section>
            <section id="knowledge-cms-frameworks" class="has-progress-line">
                <h3>{{knowledge.cms-frameworks.title}}</h3>
                <div class="skills">
                    {{#knowledge.cms-frameworks.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.cms-frameworks.skills}}
                </div>
            </section>
            <section id="knowledge-package-managers" class="has-progress-line">
                <h3>{{knowledge.package-managers.title}}</h3>
                <div class="skills">
                    {{#knowledge.package-managers.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.package-managers.skills}}
                </div>
            </section>
            <section id="knowledge-build-tools" class="has-progress-line">
                <h3>{{knowledge.build-tools.title}}</h3>
                <div class="skills">
                    {{#knowledge.build-tools.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.build-tools.skills}}
                </div>
            </section>
        </div>

        <div id="closure-links" class="links">
            {{#links}}
                {{#visible}}
                    <a class="{{slug}} button" href="{{ref}}" {{#download}}download{{/download}} {{#target}}target="{{target}}"{{/target}}><span
                        class="fa fa-{{icon}}"></span>{{text}}</a>
                {{/visible}}
            {{/links}}
        </div>
    </div>

    {{#svg.triangle}}
        <svg id="triangle-{{id}}" class="shape is-triangle" height="{{height}}" width="{{width}}">
            <polygon points="{{points}}"></polygon>
        </svg>
    {{/svg.triangle}}

</main>

<footer></footer>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

<!-- Microdata -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type" : "Person",
  "name" : "Peter van der Steen",
  "image" : "http://pvdsteen.com/dist/images/avatar.jpg",
  "jobTitle": "Front-end developer - UX designer",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "{{meta.location}}",
    "addressRegion" : "{{meta.region}}",
    "postalCode" : "2316ZT"
  },
  "telephone" : "+31610425975",
  "email" : "pvdsteen@gmail.com"
}
</script>

<!-- Javascript -->
<script src="/dist/scripts/app.js"></script>

<!-- Analytics -->
<script>
if(navigator.userAgent.indexOf("Speed Insights") == -1) {
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-15625647-1', 'auto');
    ga('send', 'pageview');

    <!-- Scrolldepth tracking  -->
    gascrolldepth.init();
}
</script>
</body>
</html>
