<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <title>Resumé - Peter van der Steen</title>
    <meta name="description"
          content="Front-end developer and UX designer creating engaging, user friendly products and services.">
    <meta name="keywords" content="web,developer,frontend,ux,experience,design,resume,cv"/>
    <meta name="author" content="Peter van der Steen">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="/dist/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Peter van der Steen">
    <meta name="application-name" content="Peter van der Steen">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="dist/styles/app.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="src/vendor/html5shiv/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header>

</header>

<main data-sticky-container>
    <div id="nav-wrap" class="sticky" data-margin-top="40" data-sticky-for="1023">
        <nav>
            <ul>
                <!--<li><a href="#about" class="is-round"></a></li>-->
                <li data-tooltip="Experience"><a href="#experience" class="fa fa-folder-open" data-scroll-spy></a></li>
                <li data-tooltip="Education"><a href="#education" class="fa fa-university" data-scroll-spy></a></li>
                <li data-tooltip="References"><a href="#references" class="fa fa-address-book" data-scroll-spy></a></li>
                <li data-tooltip="Knowledge"><a href="#knowledge" class="fa fa-tasks" data-scroll-spy></a></li>
            </ul>
        </nav>
    </div>
    <div id="side-wrap" class="sticky" data-margin-top="20" data-sticky-for="1023">
        <aside class="card">
            <img class="card-avatar is-round" src="dist/images/avatar.jpg" width="180" height="180" alt="Peter van der Steen, frontend developer - UX designer"/>
            <div class="card-info">
                <h1>Peter van der Steen</h1>
                <p class="card-profession"><span class="nowrap">Front-end developer</span> <span class="nowrap"> UX designer</span>
                </p>
            </div>
            <!--<ul class="card-social">-->
            <!--<li>I</li>-->
            <!--<li>F</li>-->
            <!--<li>T</li>-->
            <!--</ul>-->
        </aside>
        <div class="links">
            <!--<a classresume button" href="/dist/files/resume-pvdsteen.pdf"><span class="fa fa-download"></span>Download-->
            <!--Resume</a>-->
            <a class="linkedin button" href="https://www.linkedin.com/in/pvdsteen" target="_blank"><span
                class="fa fa-linkedin"></span>View linkedin</a>
            <a class="github button" href="https://github.com/pvds" target="_blank"><span
                class="fa fa-github"></span>Check github</a>
        </div>
    </div>
    <div id="main-wrap">
        <div id="about" class="section-wrap">
            <section id="about-intro">
                <h2>About me</h2>
                <div class="is-content">
                    <p>
                        As a front-end developer my main passion is to <strong>use and improve my existing
                        knowledge</strong> of
                        front-end development and user experience design <strong>in order to create engaging, but above
                        all user friendly
                        products and services</strong>.
                    </p>
                    <span class="expander-trigger" data-trigger-once>read more</span>
                    <div class="expander-content is-box has-small-text">
                        <p>
                            My main interest lies in the <strong>combination of user experience design and front-end
                            development</strong>,
                            focusing on critical and creative thinking I am developing myself in the areas of
                            Interaction
                            Design, Information Architecture and Interface Design. Developing task flows, personas and scenarios
                            based
                            on research of user needs in order to construct wireframes, prototypes and perform usability
                            studies.
                        </p>
                        <p>
                            In order to support my knowledge, skills and experience I am <strong>constantly improving
                            myself
                            in
                            various
                            supporting disciplines</strong>: Human Computer Interaction, Cognitive Science, Heuristics,
                            Micro
                            Expressions
                            and Usability Engineering.
                        </p>
                    </div>
                </div>

            </section>
            <section id="about-personal-information">
                <h3>Personal information</h3>
                <dl class="definition mood-trigger">
                    <dt>Full Name</dt>
                    <dd>Peter van der Steen</dd>
                    <dt>Birth date</dt>
                    <dd>12 July 1986</dd>
                    <dt>Location</dt>
                    <dd>Leiden, the Netherlands</dd>
                    <dt>Email</dt>
                    <dd>pvdsteen@gmail.com</dd>
                    <dt>Phone</dt>
                    <dd>+31 6 104 25 975</dd>
                    <dt>Mood</dt>
                    <dd id="mood">Zealous</dd>
                </dl>
            </section>
            <section id="about-languages">
                <h3>Languages</h3>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="10"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">Dutch</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                    <span class="progress-text">native</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="9"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">English</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">professional</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="3"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">French</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">elementary</span>
                </div>
                <div hidden class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="1"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">Greek</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">toddler</span>
                </div>
            </section>
            <section id="about-soft-skills">
                <h3>Soft skills</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Work ethic</strong>
                        <div class="progress-bar" data-text="I give a damn" data-value="1"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Critical thinking</strong>
                        <div class="progress-bar" data-text="yummy, puzzles!" data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Communication</strong>
                        <div class="progress-bar" data-text="I love talking!" data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Listening</strong>
                        <div class="progress-bar" data-text="when I'm not talking" data-value="0.9"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Teamwork</strong>
                        <div class="progress-bar" data-text="hurray, collaboration!" data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Adaptability</strong>
                        <div class="progress-bar" data-text="yes we can!" data-value="0.8"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Judgement</strong>
                        <div class="progress-bar" data-text="think before I act" data-value="0.8"></div>
                    </div>
                </div>
            </section>
            <section id="about-interests">
                <h3>Interests</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Technology</strong>
                        <div class="progress-bar" data-text="software/hardware" data-value="1"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Science</strong>
                        <div class="progress-bar" data-text="social/physics/biology" data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Culinary</strong>
                        <div class="progress-bar" data-text="cooking/tasting" data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Travelling</strong>
                        <div class="progress-bar" data-text="Asia/Mediterranean" data-value="0.9"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Nature</strong>
                        <div class="progress-bar" data-text="quietness/relaxation" data-value="0.9"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Culture</strong>
                        <div class="progress-bar" data-text="music/books/plays" data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Sports</strong>
                        <div class="progress-bar" data-text="running/climbing" data-value="0.8"></div>
                    </div>
                </div>
            </section>
        </div>
        <div id="experience" class="section-wrap is-animate">
            <section id="experience-intro">
                <h2>Experience</h2>
            </section>
            <section class="timeline">
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2017-06T2017-06">
                        <span><strong class="text-upper">Now</strong> - ?<strong></strong></span>
                    </time>
                    <h3 class="timeline-function">Front-end developer - <span class="nowrap">UX designer</span></h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Your company?</h4>
                    <div class="timeline-description is-content">
                        <p>
                            I'm looking for a new challenge!
                        </p>
                        <!--<span class="expander-trigger" data-text-alt="less motivation please.." data-trigger-once>motivation</span>-->
                        <!--<div class="expander-content is-box">-->
                            <!--<p></p>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2013-05T2017-06">
                        <span>May <strong class="text-upper">2013</strong> - Jun <strong>2017</strong></span>
                    </time>
                    <h3 class="timeline-function">Front-end developer</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Just Walk</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Development and maintenance of websites.</li>
                            <li>Development of modern front-end workflow</li>
                            <li>Development HTML5 online advertising</li>
                            <li>Improvement of interface design.</li>
                            <li>Analysis and optimisation of user interaction.</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2011-04T2016-04">
                        <span>Apr <strong class="text-upper">2011</strong> - Apr <strong>2016</strong></span>
                    </time>
                    <h3 class="timeline-function">Owner - <span class="nowrap">UX Designer</span> / <span
                        class="nowrap">Developer</span></h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Solid Core Web Solutions</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Development of various websites and applications for clients.</li>
                            <li>Clients ranging from Medical institutions and Legal services to non-profit
                                foundations.
                            </li>
                            <li>Consulting for existing projects to analyse and optimise user interaction and interface
                                design.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2010-09T2011-05">
                        <span>Sep <strong class="text-upper">2010</strong> - May <strong>2011</strong></span>
                    </time>
                    <h3 class="timeline-function">Co Owner - Developer</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Triangle Productions</h4>
                    <div class="timeline-description is-content">
                        <p>Development of various interactive media projects</p>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2008-06T2009-08">
                        <span>Jun <strong class="text-upper">2008</strong> - Aug <strong>2009</strong></span>
                    </time>
                    <h3 class="timeline-function">Mechanical Designer</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Bluewater Energy Services</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Design of 'swivel bearing' modules</li>
                            <li>Setup of design guidelines for the mechanical design department</li>
                            <li>Setup of design templates for mechanical designing</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2006-06T2008-06">
                        <span>Jun <strong class="text-upper">2006</strong> - Jun <strong>2008</strong></span>
                    </time>
                    <h3 class="timeline-function">Technical Document Controller</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Just Walk</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Automation of naming/archiving systems</li>
                            <li>Coördinating the issuance and distribution of all the corporate documentation</li>
                            <li>Coördinating the corporate management system</li>
                            <li>Ensuring the CMS documentation required at Bluewater vessels is up to date</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div id="education" class="section-wrap is-animate">
            <section id="education-intro">
                <h2>Education</h2>
            </section>
            <section class="timeline">
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2010-08T2011-06">
                        <span>Aug <strong class="text-upper">2010</strong> - Jun <strong>2011</strong></span>
                    </time>
                    <h3 class="timeline-function">Amsterdam University of Applied Sciences</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Interactive Media - Propaedeutic Cum Laude </h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Education on user centered design, interaction design and interactive media.</li>
                            <li>Developing interactive solutions (installations and web applications) for various
                                projects
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div id="references" class="section-wrap is-animate">
            <section id="references-intro">
                <h2>References</h2>
            </section>
            <section id="reference-list">
                <div class="reference is-animate">
                    <div class="reference-avatar">
                        <img alt="Marius van der Kooy" src="dist/images/avatar-marius.jpg" class="is-round" height="54"
                             width="54">
                    </div>
                    <div class="reference-info">
                        <div class="reference-author">
                            <strong>Marius van der Kooy</strong>
                            <span>Just Walk</span>
                        </div>
                        <!--<blockquote hidden class="reference-cont is-content is-dutch">-->
                            <!--<p>-->
                                <!--Peter is IT. Hij leeft voor nieuwe ontwikkelingen, zonder de dagelijkse gang van zaken-->
                                <!--uit-->
                                <!--het oog te verliezen. De front-end ontwerpen, alternatieven presenteren, eventueel-->
                                <!--aanpassen-->
                                <!--en uiteindelijk ontwikkelen en beheren is voor hem daily business.-->
                            <!--</p>-->
                            <!--<span class="expander-trigger" data-text-alt="too much information..">read more</span>-->
                            <!--<div class="expander-content">-->
                                <!--<p>-->
                                    <!--Daarnaast kan hij als geen ander de communicatie op een effectieve manier tot stand-->
                                    <!--brengen-->
                                    <!--met de ontwikkelaars aan de achterkant. Zowel in persoonlijke zin, als in technische-->
                                    <!--zin-->
                                    <!--zullen ze Peter geen knollen voor citroenen verkopen.-->
                                    <!--Hij zorgt ervoor dat hij altijd op de hoogte is, en kennis heeft van alle delen van-->
                                    <!--de-->
                                    <!--website(s) en IT-structuur.-->
                                <!--</p>-->
                                <!--<p>Peter stelt je vragen. En die vragen zijn lastig, want raken de kern van je-->
                                    <!--vraagstuk. Daar-->
                                    <!--voorbij ontstaan mooie, bruikbare en efficiente processen; Zowel commercieel als-->
                                    <!--technisch.-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--Hij is absoluut een toegevoegde waarde in de breedste zin van het woord.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</blockquote>-->
                        <blockquote class="reference-cont is-content">
                            <p>
                                Peter is IT. Development is his purpose in life, without losing track of the daily routine.
                                Front-end development, presenting various iterations, implementing and maintaining are his daily business.
                            </p>
                            <span class="expander-trigger" data-text-alt="too much information..">read more</span>
                            <div class="expander-content">
                                <p>
                                    He knows better than anybody how to initiate and communicate effectively with back-end developers.
                                    Both in personal as well as technical sense. They won't be selling him chalk for cheese.
                                    He is always on top of the situation, having knowledge of all parts of the website and IT infrastructure.
                                </p>
                                <p>
                                    Peter asks questions, hard questions, touching the core of the matter.
                                    Thereby creating beautiful, useful and efficient processes; both commercial and technical.
                                </p>
                                <p>
                                    He is a valuable asset in the broadest sense of the word.
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="reference is-animate">
                    <div class="reference-avatar">
                        <img alt="Bart Lageweg" src="dist/images/avatar-bart.jpg" class="is-round" height="54"
                             width="54">
                    </div>
                    <div class="reference-info">
                        <div class="reference-author">
                            <strong>Bart Lageweg</strong>
                            <span>Bizway</span>
                        </div>
                        <!--<blockquote hidden class="reference-cont is-content is-dutch">-->
                            <!--<p>-->
                                <!--Peter was 5 jaar lang de onmisbare schakel tussen ons als leverancier en Just Walk.-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--Een top UX designer, met humor, communicatievaardigheden en groot-->
                                <!--verantwoordelijkheidsgevoel.-->
                            <!--</p>-->
                        <!--</blockquote>-->
                        <blockquote class="reference-cont is-content">
                            <p>
                                For a period of 5 years Peter was the vital link between us as a supplier and Just Walk.
                            </p>
                            <p>
                                A top UX designer with a good sense of humour, communication skills and a great sense of responsibility.
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="reference is-animate">
                    <div class="reference-avatar">
                        <img alt="Danny Visser" src="dist/images/avatar-danny.jpg" class="is-round" height="54"
                             width="54">
                    </div>
                    <div class="reference-info">
                        <div class="reference-author">
                            <strong>Danny Visser</strong>
                            <span>Just Walk</span>
                        </div>
                        <!--<blockquote hidden class="reference-cont is-content is-dutch">-->
                            <!--<p>-->
                                <!--Een uitstekende developer; flexibel met altijd oog voor de structurele oplossing en de-->
                                <!--lange-->
                                <!--termijn.-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--Peter was gedurende de afgelopen 5 jaar een gewaardeerd lid van ons team.-->
                                <!--Altijd paraat en een groot verantwoordelijkheidsgevoel.-->
                            <!--</p>-->
                        <!--</blockquote>-->
                        <blockquote class="reference-cont is-content">
                            <p>
                                An outstanding developer; flexible with an eye for structural and long term solutions.
                            </p>
                            <p>
                                For the past five years Peter was a valued member of our team.<br/>
                                Always well prepared and has a great sense of responsibility.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </section>
        </div>
        <div id="knowledge" class="section-wrap is-animate">
            <section id="knowledge-intro">
                <h2>Knowledge</h2>
                <div class="is-content">
                    <p>
                        I am developing myself continuously using and learning the latest front-end skills, tools and
                        techniques:
                    </p>
                </div>
            </section>
            <section id="knowledge-programming" class="has-progress-line">
                <h3>Languages</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">HTML</strong>
                        <div class="progress-bar" data-text="expert" data-text-alt="I dream semantically"
                             data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">CSS</strong>
                        <div class="progress-bar" data-text="expert" data-text-alt="my wife says I'm responsive"
                             data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">JS</strong>
                        <div class="progress-bar" data-text="proficient" data-text-alt="let me promise"
                             data-value="0.8"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">PHP</strong>
                        <div class="progress-bar" data-text="competent" data-text-alt="love recursive acronyms"
                             data-value="0.7"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Bash</strong>
                        <div class="progress-bar" data-text="competent" data-text-alt="I believe in reincarnation"
                             data-value="0.6"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Ruby</strong>
                        <div class="progress-bar" data-text="beginner" data-text-alt="busy polishing my gems"
                             data-value="0.4"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="30"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Python</strong>
                        <div class="progress-bar" data-text="novice" data-text-alt="still a fluffy little rabbit"
                             data-value="0.3"></div>
                    </div>
                </div>
            </section>
            <section id="knowledge-techniques" class="has-progress-line">
                <h3>Techniques</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Architecture</strong>
                        <div class="progress-bar" data-text="MVC/DRY" data-value="0.9"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Automation</strong>
                        <div class="progress-bar" data-text="task runners/build tools" data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Compatibility</strong>
                        <div class="progress-bar" data-text="browser/platform/device"
                             data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Design Patterns</strong>
                        <div class="progress-bar" data-text="structure/create/behave"
                             data-value="0.80"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Paradigms</strong>
                        <div class="progress-bar" data-text="object/functional/procedural"
                             data-value="0.75"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Security</strong>
                        <div class="progress-bar" data-text="CORS/XXS" data-value="0.7"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Code Testing</strong>
                        <div class="progress-bar" data-text="unit/integration/quality" data-value="0.6"></div>
                    </div>
                </div>
            </section>
            <section id="knowledge-content" class="has-progress-chart">
                <h3>Content</h3>
                <div class="skills">
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="proficient" data-value="0.9"></div>
                        <strong class="progress-title">Semantics</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="proficient" data-value="0.9"></div>
                        <strong class="progress-title">Microdata</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="proficient" data-value="0.85"></div>
                        <strong class="progress-title">JSON/XML</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="competent" data-value="0.75"></div>
                        <strong class="progress-title">Twig/Blade</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="65"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="competent" data-value="0.65"></div>
                        <strong class="progress-title">WCAG/ARIA</strong>
                    </div>
                </div>
            </section>
            <section id="knowledge-visualisation" class="has-progress-chart">
                <h3>Visualisation</h3>
                <div class="skills">
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="expert" data-value="0.95"></div>
                        <strong class="progress-title">Sass/Scss</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="expert" data-value="0.95"></div>
                        <strong class="progress-title">Responsive</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="proficient" data-value="0.9"></div>
                        <strong class="progress-title">Neat/Bootstrap</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="proficient" data-value="0.9"></div>
                        <strong class="progress-title">CSS Animation</strong>
                    </div>
                    <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar" data-text="competent" data-value="0.7"></div>
                        <strong class="progress-title">Photoshop</strong>
                    </div>
                </div>
            </section>
            <section id="knowledge-interaction" class="has-progress-chart">
                <h3>Interaction</h3>
                <div class="skills">
                    <div class="skills">
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="proficient" data-value="0.90"></div>
                            <strong class="progress-title">ES5</strong>
                        </div>
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="proficient" data-value="0.9"></div>
                            <strong class="progress-title">XHR/AJAX</strong>
                        </div>
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="proficient" data-value="0.9"></div>
                            <strong class="progress-title">jQuery</strong>
                        </div>
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="competent" data-value="0.7"></div>
                            <strong class="progress-title">ES6</strong>
                        </div>
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="25"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="beginner" data-value="0.25"></div>
                            <strong class="progress-title">React/Angular</strong>
                        </div>
                    </div>
                </div>
            </section>
            <section id="knowledge-development" class="has-progress-line">
                <h3>Development</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">PHPStorm/Webstorm</strong>
                        <div class="progress-bar" data-text="IDE" data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Sublime Text</strong>
                        <div class="progress-bar" data-text="editor" data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Command line/CLI</strong>
                        <div class="progress-bar" data-text="terminal" data-value="0.8"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Git</strong>
                        <div class="progress-bar" data-text="versioning" data-value="0.8"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Valet</strong>
                        <div class="progress-bar" data-text="minimal NGINX server" data-value="0.8"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Homestead</strong>
                        <div class="progress-bar" data-text="Vagrant box" data-value="0.6"></div>
                    </div>
                </div>
            </section>
            <section id="knowledge-cms-frameworks" class="has-progress-line">
                <h3>Frameworks</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="95"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Wordpress</strong>
                        <div class="progress-bar" data-text="bedrock/sage" data-value="0.95"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Laravel</strong>
                        <div class="progress-bar" data-text="mix/blade" data-value="0.80"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Grav</strong>
                        <div class="progress-bar" data-text="flat file" data-value="0.7"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Drupal</strong>
                        <div class="progress-bar" data-text="CMS" data-value="0.6"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="55"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Joomla</strong>
                        <div class="progress-bar" data-text="CMS" data-value="0.55"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="20"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Slim</strong>
                        <div class="progress-bar" data-text="API/services" data-value="0.2"></div>
                    </div>
                </div>
            </section>
            <section id="knowledge-package-managers" class="has-progress-line">
                <h3>Package managers</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Bower</strong>
                        <div class="progress-bar" data-text="front-end packages" data-value="0.9"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">NPM</strong>
                        <div class="progress-bar" data-text="task builder/front-end" data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Homebrew</strong>
                        <div class="progress-bar" data-text="OSX packages" data-value="0.75"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Composer</strong>
                        <div class="progress-bar" data-text="PHP packages" data-value="0.75"></div>
                    </div>
                </div>
            </section>
            <section id="knowledge-build-tools" class="has-progress-line">
                <h3>Tools</h3>
                <div class="skills">
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">NPM scripts</strong>
                        <div class="progress-bar" data-text="cli/compiling/testing" data-value="0.9"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="85"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Grunt/Gulp</strong>
                        <div class="progress-bar" data-text="" data-value="0.85"></div>
                    </div>
                    <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <strong class="progress-title">Webpack</strong>
                        <div class="progress-bar" data-text="" data-value="0.75"></div>
                    </div>
                </div>
            </section>


        </div>

        <div class="links">
            <!--<a classresume button" href="/dist/files/resume-pvdsteen.pdf"><span class="fa fa-download"></span>Download-->
            <!--Resume</a>-->
            <a class="linkedin button" href="https://www.linkedin.com/in/pvdsteen" target="_blank"><span
                class="fa fa-linkedin"></span>View linkedin</a>
            <a class="github button" href="https://github.com/pvds" target="_blank"><span
                class="fa fa-github"></span>Check github</a>
        </div>
    </div>

    <svg id="triangle-1" class="shape is-triangle" height="470" width="530">
        <polygon points="0,0,530,0,530,470"></polygon>
    </svg>
    <svg id="triangle-2" class="shape is-triangle" height="490" width="510">
        <polygon points="0,0,510,0,510,490"></polygon>
    </svg>
    <svg id="triangle-3" class="shape is-triangle" height="520" width="480">
        <polygon points="0,0,480,0,480,520"></polygon>
    </svg>
    <svg id="triangle-4" class="shape is-triangle" height="580" width="420">
        <polygon points="0,0,420,0,420,580"></polygon>
    </svg>
    <svg id="triangle-5" class="shape is-triangle" height="670" width="350">
        <polygon points="0,0,350,0,350,670"></polygon>
    </svg>

</main>

<footer></footer>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

<!-- Microdata -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type" : "Person",
  "name" : "Peter van der Steen",
  "image" : "http://pvdsteen.com/dist/images/avatar.jpg",
  "jobTitle": "Front end developer - UX designer",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "Leiden, the Netherlands",
    "addressRegion" : "Zuid Holland",
    "postalCode" : "2316ZT"
  },
  "telephone" : "+31610425975",
  "email" : "pvdsteen@gmail.com"
}
</script>

<!-- Javascript -->
<script src="dist/scripts/app.js"></script>
</body>
</html>
