<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <title>{{meta.title}}</title>
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{meta.keywords}}"/>
    <meta name="author" content="{{meta.author}}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="/dist/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{{meta.title}}">
    <meta name="application-name" content="{{meta.title}}">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="dist/styles/app.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="src/vendor/html5shiv/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body class="is-development">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header></header>
<main data-sticky-container>
    <div id="nav-wrap" class="sticky" data-margin-top="10" data-sticky-for="1023">
        <nav>
            <ul>
                {{#nav}}
                    <li>
                        <a href="#{{id}}" data-scroll-spy>
                            <span class="fa fa-{{icon}}"></span>
                            <span class="title">{{title}}</span>
                        </a>
                    </li>
                {{/nav}}
            </ul>
        </nav>
    </div>
    <div id="side-wrap" class="sticky" data-margin-top="20" data-sticky-for="1023">
        <aside class="card">
            <img class="card-avatar is-round" src="dist/images/avatar.jpg" width="180" height="180"
                 alt="{{card.name}}, {{card.profession.first}} - {{card.profession.second}}"/>
            <div class="card-info">
                <h1 class="card-name">{{card.name}}</h1>
                <p class="card-profession"><span class="nowrap">{{card.profession.first}}</span> <span
                    class="nowrap"> {{card.profession.second}}</span>
                </p>
            </div>
        </aside>
        <div id="side-links" class="links">
            {{#links}}
                {{#visible}}
                    <a class="{{slug}} button" href="{{ref}}" target="_blank"><span
                        class="fa fa-{{icon}}"></span>{{text}}</a>
                {{/visible}}
            {{/links}}
        </div>
    </div>
    <div id="main-wrap">
        <div id="about" class="section-wrap">
            <section id="about-intro">
                <h2>{{about.title}}</h2>
                <div class="is-content">
                    <p>
                        As a front-end developer my main passion is to <strong>use and improve my existing
                        knowledge</strong> of
                        front-end development and user experience design <strong>in order to create engaging, but above
                        all user friendly
                        products and services</strong>.
                    </p>
                    <span class="expander-trigger" data-trigger-once>{{about.intro.expander.triggertext}}</span>
                    <div class="expander-content is-box has-small-text">
                        <p>
                            My main interest lies in the <strong>combination of user experience design and front-end
                            development</strong>,
                            focusing on critical and creative thinking I am developing myself in the areas of
                            Interaction
                            Design, Information Architecture and Interface Design. Developing task flows, personas and
                            scenarios
                            based
                            on research of user needs in order to construct wireframes, prototypes and perform usability
                            studies.
                        </p>
                        <p>
                            In order to support my knowledge, skills and experience I am <strong>constantly improving
                            myself
                            in
                            various
                            supporting disciplines</strong>: Human Computer Interaction, Cognitive Science, Heuristics,
                            Micro
                            Expressions
                            and Usability Engineering.
                        </p>
                    </div>
                </div>

            </section>
            <section id="about-personal-information">
                <h3>{{about.personal.title}}</h3>
                <dl class="definition mood-trigger">
                    {{#about.personal.definitions}}
                        <dt>{{term}}</dt>
                        <dd{{#id}} id="{{id}}"{{/id}}>{{def}}</dd>
                    {{/about.personal.definitions}}
                </dl>
            </section>
            <section id="about-languages">
                <h3>Languages</h3>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.dutch.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.dutch.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                    <span class="progress-text">{{about.languages.dutch.text}}</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.english.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.english.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">{{about.languages.english.text}}</span>
                </div>
                <div class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.french.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.french.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">{{about.languages.french.text}}</span>
                </div>
                <div hidden class="progress-wrap progress-bullets is-animate" role="progressbar" aria-valuenow="{{about.languages.greek.value}}"
                     aria-valuemin="0"
                     aria-valuemax="10">
                    <strong class="progress-title">{{about.languages.greek.title}}</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">{{about.languages.greek.text}}</span>
                </div>
            </section>
            <section id="about-soft-skills">
                <h3>{{about.softskills.title}}</h3>
                <div class="skills">
                    {{#about.softskills.skills}}
                        <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar"
                             aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}" data-value="{{value}}"></div>
                        </div>
                    {{/about.softskills.skills}}
                </div>
            </section>
            <section id="about-interests">
                <h3>{{about.interests.title}}</h3>
                <div class="skills">
                    {{#about.interests.skills}}
                        <div class="progress-wrap progress-line is-compressed is-animate" role="progressbar"
                             aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}" data-value="{{value}}"></div>
                        </div>
                    {{/about.interests.skills}}
                </div>
            </section>
        </div>
        <div id="experience" class="section-wrap is-animate">
            <section id="experience-intro">
                <h2>{{experience.title}}</h2>
            </section>
            <section class="timeline">
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2017-06T2017-06">
                        <span><strong class="text-upper">Now</strong> - ?<strong></strong></span>
                    </time>
                    <h3 class="timeline-function">Front-end developer - <span class="nowrap">UX designer</span></h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Your company?</h4>
                    <div class="timeline-description is-content">
                        <p>
                            I'm looking for a new challenge!
                        </p>
                        <!--<span class="expander-trigger" data-text-alt="less motivation please.." data-trigger-once>motivation</span>-->
                        <!--<div class="expander-content is-box">-->
                        <!--<p></p>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2013-05T2017-06">
                        <span>May <strong class="text-upper">2013</strong> - June <strong>2017</strong></span>
                    </time>
                    <h3 class="timeline-function">Front-end developer</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Just Walk</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Development and maintenance of websites.</li>
                            <li>Development of modern front-end workflow</li>
                            <li>Development HTML5 online advertising</li>
                            <li>Improvement of interface design.</li>
                            <li>Analysis and optimisation of user interaction.</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2011-04T2016-04">
                        <span>Apr <strong class="text-upper">2011</strong> - Apr <strong>2016</strong></span>
                    </time>
                    <h3 class="timeline-function">Owner - <span class="nowrap">UX Designer</span> / <span
                        class="nowrap">Developer</span></h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Solid Core Web Solutions</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Development of various websites and applications for clients.</li>
                            <li>Clients ranging from Medical institutions and Legal services to non-profit
                                foundations.
                            </li>
                            <li>Consulting for existing projects to analyse and optimise user interaction and interface
                                design.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2010-09T2011-05">
                        <span>Sep <strong class="text-upper">2010</strong> - May <strong>2011</strong></span>
                    </time>
                    <h3 class="timeline-function">Co Owner - Developer</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Triangle Productions</h4>
                    <div class="timeline-description is-content">
                        <p>Development of various interactive media projects</p>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2008-06T2009-08">
                        <span>Jun <strong class="text-upper">2008</strong> - Aug <strong>2009</strong></span>
                    </time>
                    <h3 class="timeline-function">Mechanical Designer</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Bluewater Energy Services</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Design of 'swivel bearing' modules</li>
                            <li>Setup of design guidelines for the mechanical design department</li>
                            <li>Setup of design templates for mechanical designing</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2006-06T2008-06">
                        <span>Jun <strong class="text-upper">2006</strong> - Jun <strong>2008</strong></span>
                    </time>
                    <h3 class="timeline-function">Technical Document Controller</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Just Walk</h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Automation of naming/archiving systems</li>
                            <li>Coördinating the issuance and distribution of all the corporate documentation</li>
                            <li>Coördinating the corporate management system</li>
                            <li>Ensuring the CMS documentation required at Bluewater vessels is up to date</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div id="education" class="section-wrap is-animate">
            <section id="education-intro">
                <h2>{{education.title}}</h2>
            </section>
            <section class="timeline">
                <div class="timeline-item is-animate">
                    <time class="timeline-date" datetime="2010-08T2011-06">
                        <span>Aug <strong class="text-upper">2010</strong> - Jun <strong>2011</strong></span>
                    </time>
                    <h3 class="timeline-function">Amsterdam University of Applied Sciences</h3>
                    <div class="timeline-logo">
                        <!--<img src="dist/images/justwalk.png"/>-->
                    </div>
                    <h4 class="timeline-place">Interactive Media - Propaedeutic Cum Laude </h4>
                    <div class="timeline-description is-content">
                        <ul>
                            <li>Education on user centered design, interaction design and interactive media.</li>
                            <li>Developing interactive solutions (installations and web applications) for various
                                projects
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div id="references" class="section-wrap is-animate">
            <section id="references-intro">
                <h2>{{references.title}}</h2>
            </section>
            <section id="reference-list">
                <div class="reference is-animate">
                    <div class="reference-avatar">
                        <img alt="Marius van der Kooy" src="dist/images/avatar-marius.jpg" class="is-round" height="54"
                             width="54">
                    </div>
                    <div class="reference-info">
                        <div class="reference-author">
                            <strong>Marius van der Kooy</strong>
                            <span>Just Walk</span>
                        </div>
                        <!--<blockquote hidden class="reference-cont is-content is-dutch">-->
                        <!--<p>-->
                        <!--Peter is IT. Hij leeft voor nieuwe ontwikkelingen, zonder de dagelijkse gang van zaken-->
                        <!--uit-->
                        <!--het oog te verliezen. De front-end ontwerpen, alternatieven presenteren, eventueel-->
                        <!--aanpassen-->
                        <!--en uiteindelijk ontwikkelen en beheren is voor hem daily business.-->
                        <!--</p>-->
                        <!--<span class="expander-trigger" data-text-alt="too much information..">read more</span>-->
                        <!--<div class="expander-content">-->
                        <!--<p>-->
                        <!--Daarnaast kan hij als geen ander de communicatie op een effectieve manier tot stand-->
                        <!--brengen-->
                        <!--met de ontwikkelaars aan de achterkant. Zowel in persoonlijke zin, als in technische-->
                        <!--zin-->
                        <!--zullen ze Peter geen knollen voor citroenen verkopen.-->
                        <!--Hij zorgt ervoor dat hij altijd op de hoogte is, en kennis heeft van alle delen van-->
                        <!--de-->
                        <!--website(s) en IT-structuur.-->
                        <!--</p>-->
                        <!--<p>Peter stelt je vragen. En die vragen zijn lastig, want raken de kern van je-->
                        <!--vraagstuk. Daar-->
                        <!--voorbij ontstaan mooie, bruikbare en efficiente processen; Zowel commercieel als-->
                        <!--technisch.-->
                        <!--</p>-->
                        <!--<p>-->
                        <!--Hij is absoluut een toegevoegde waarde in de breedste zin van het woord.-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--</blockquote>-->
                        <blockquote class="reference-cont is-content">
                            <p>
                                Peter is IT. Development is his purpose in life, without losing track of the daily
                                routine.
                                Front-end development, presenting various iterations, implementing and maintaining are
                                his daily business.
                            </p>
                            <span class="expander-trigger" data-text-alt="too much information..">read more</span>
                            <div class="expander-content">
                                <p>
                                    He knows better than anybody how to initiate and communicate effectively with
                                    back-end developers.
                                    Both in personal as well as technical sense. They won't be selling him chalk for
                                    cheese.
                                    He is always on top of the situation, having knowledge of all parts of the website
                                    and IT infrastructure.
                                </p>
                                <p>
                                    Peter asks questions, hard questions, touching the core of the matter.
                                    Thereby creating beautiful, useful and efficient processes; both commercial and
                                    technical.
                                </p>
                                <p>
                                    He is a valuable asset in the broadest sense of the word.
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <div class="reference is-animate">
                    <div class="reference-avatar">
                        <img alt="Bart Lageweg" src="dist/images/avatar-bart.jpg" class="is-round" height="54"
                             width="54">
                    </div>
                    <div class="reference-info">
                        <div class="reference-author">
                            <strong>Bart Lageweg</strong>
                            <span>Bizway</span>
                        </div>
                        <!--<blockquote hidden class="reference-cont is-content is-dutch">-->
                        <!--<p>-->
                        <!--Peter was 5 jaar lang de onmisbare schakel tussen ons als leverancier en Just Walk.-->
                        <!--</p>-->
                        <!--<p>-->
                        <!--Een top UX designer, met humor, communicatievaardigheden en groot-->
                        <!--verantwoordelijkheidsgevoel.-->
                        <!--</p>-->
                        <!--</blockquote>-->
                        <blockquote class="reference-cont is-content">
                            <p>
                                For a period of 5 years Peter was the vital link between us as a supplier and Just Walk.
                            </p>
                            <p>
                                A top UX designer with a good sense of humour, communication skills and a great sense of
                                responsibility.
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="reference is-animate">
                    <div class="reference-avatar">
                        <img alt="Danny Visser" src="dist/images/avatar-danny.jpg" class="is-round" height="54"
                             width="54">
                    </div>
                    <div class="reference-info">
                        <div class="reference-author">
                            <strong>Danny Visser</strong>
                            <span>Just Walk</span>
                        </div>
                        <!--<blockquote hidden class="reference-cont is-content is-dutch">-->
                        <!--<p>-->
                        <!--Een uitstekende developer; flexibel met altijd oog voor de structurele oplossing en de-->
                        <!--lange-->
                        <!--termijn.-->
                        <!--</p>-->
                        <!--<p>-->
                        <!--Peter was gedurende de afgelopen 5 jaar een gewaardeerd lid van ons team.-->
                        <!--Altijd paraat en een groot verantwoordelijkheidsgevoel.-->
                        <!--</p>-->
                        <!--</blockquote>-->
                        <blockquote class="reference-cont is-content">
                            <p>
                                An outstanding developer; flexible with an eye for structural and long term solutions.
                            </p>
                            <p>
                                For the past five years Peter was a valued member of our team.<br/>
                                Always well prepared and has a great sense of responsibility.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </section>
        </div>
        <div id="knowledge" class="section-wrap is-animate">
            <section id="knowledge-intro">
                <h2>{{knowledge.title}}</h2>
                <div class="is-content">
                    <p>
                        I am developing myself continuously using and learning the latest front-end skills, tools and
                        techniques:
                    </p>
                </div>
            </section>
            <section id="knowledge-programming" class="has-progress-line">
                <h3>{{knowledge.programming.title}}</h3>
                <div class="skills">
                    {{#knowledge.programming.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.programming.skills}}
                </div>
            </section>
            <section id="knowledge-techniques" class="has-progress-line">
                <h3>{{knowledge.techniques.title}}</h3>
                <div class="skills">
                    {{#knowledge.techniques.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.techniques.skills}}
                </div>
            </section>
            <section id="knowledge-content" class="has-progress-chart">
                <h3>{{knowledge.content.title}}</h3>
                <div class="skills">
                    {{#knowledge.content.skills}}
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                            <strong class="progress-title">{{title}}</strong>
                        </div>
                    {{/knowledge.content.skills}}
                </div>
            </section>
            <section id="knowledge-visualisation" class="has-progress-chart">
                <h3>{{knowledge.visualisation.title}}</h3>
                <div class="skills">
                    {{#knowledge.visualisation.skills}}
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                            <strong class="progress-title">{{title}}</strong>
                        </div>
                    {{/knowledge.visualisation.skills}}
                </div>
            </section>
            <section id="knowledge-interaction" class="has-progress-chart">
                <h3>{{knowledge.interaction.title}}</h3>
                <div class="skills">
                    {{#knowledge.interaction.skills}}
                        <div class="progress-wrap progress-chart is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                            <strong class="progress-title">{{title}}</strong>
                        </div>
                    {{/knowledge.interaction.skills}}
                </div>
            </section>
            <section id="knowledge-development" class="has-progress-line">
                <h3>{{knowledge.development.title}}</h3>
                <div class="skills">
                    {{#knowledge.development.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.development.skills}}
                </div>
            </section>
            <section id="knowledge-cms-frameworks" class="has-progress-line">
                <h3>{{knowledge.cms-frameworks.title}}</h3>
                <div class="skills">
                    {{#knowledge.cms-frameworks.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.cms-frameworks.skills}}
                </div>
            </section>
            <section id="knowledge-package-managers" class="has-progress-line">
                <h3>{{knowledge.package-managers.title}}</h3>
                <div class="skills">
                    {{#knowledge.package-managers.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.package-managers.skills}}
                </div>
            </section>
            <section id="knowledge-build-tools" class="has-progress-line">
                <h3>{{knowledge.build-tools.title}}</h3>
                <div class="skills">
                    {{#knowledge.build-tools.skills}}
                        <div class="progress-wrap progress-line is-animate" role="progressbar" aria-valuenow="{{aria-value}}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <strong class="progress-title">{{title}}</strong>
                            <div class="progress-bar" data-text="{{text}}"{{#text-alt}} data-text-alt="{{text-alt}}"{{/text-alt}}
                                 data-value="{{value}}"></div>
                        </div>
                    {{/knowledge.build-tools.skills}}
                </div>
            </section>
        </div>

        <div id="closure-links" class="links">
            {{#links}}
                {{#visible}}
                    <a class="{{slug}} button" href="{{ref}}" target="_blank"><span
                        class="fa fa-{{icon}}"></span>{{text}}</a>
                {{/visible}}
            {{/links}}
        </div>
    </div>

    {{#svg.triangle}}
        <svg id="triangle-{{id}}" class="shape is-triangle" height="{{height}}" width="{{width}}">
            <polygon points="{{points}}"></polygon>
        </svg>
    {{/svg.triangle}}

</main>

<footer></footer>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

<!-- Microdata -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type" : "Person",
  "name" : "Peter van der Steen",
  "image" : "http://pvdsteen.com/dist/images/avatar.jpg",
  "jobTitle": "Front-end developer - UX designer",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "Leiden, the Netherlands",
    "addressRegion" : "Zuid Holland",
    "postalCode" : "2316ZT"
  },
  "telephone" : "+31610425975",
  "email" : "pvdsteen@gmail.com"
}

</script>

<!-- Javascript -->
<script src="dist/scripts/app.js"></script>
</body>
</html>
